[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt
[submodule "scnlib"]
	path = scnlib
	url = https://github.com/eliaskosunen/scnlib
[submodule "random"]
	path = random
	url = https://github.com/effolkronium/random
[submodule "lex"]
	path = lex
	url = https://github.com/PG1003/lex.git
